<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
    <display-name>U5P04-Trivial</display-name>
  <welcome-file-list>
    <welcome-file>MostrarCatalogo</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>srv_db</param-name>
    <param-value>jdbc:mariadb://localhost:3306</param-value>
  </context-param>
  <context-param>
    <param-name>usr_db_r</param-name>
    <param-value>alumno</param-value>
  </context-param>
  <context-param>
    <param-name>usr_db_rw</param-name>
    <param-value>alumno_rw</param-value>
  </context-param>
  <context-param>
    <param-name>psw_db_r</param-name>
    <param-value>alumno</param-value>
  </context-param>
  <context-param>
    <param-name>psw_db_rw</param-name>
    <param-value>dwes</param-value>
  </context-param>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cuenta.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AltaServlet</servlet-name>
    <servlet-class>cuenta.AltaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaServlet</servlet-name>
    <url-pattern>/Alta</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BajaServlet</servlet-name>
    <servlet-class>cuenta.BajaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BajaServlet</servlet-name>
    <url-pattern>/Baja</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cuenta.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BienvenidaServlet</servlet-name>
    <servlet-class>servlets.BienvenidaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BienvenidaServlet</servlet-name>
    <url-pattern>/Bienvenida</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResultadosServlet</servlet-name>
    <servlet-class>servlets.ResultadosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultadosServlet</servlet-name>
    <url-pattern>/Resultados</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Test1Servlet</servlet-name>
    <servlet-class>servlets.Test1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test1Servlet</servlet-name>
    <url-pattern>/Test1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Test2Servlet</servlet-name>
    <servlet-class>servlets.Test2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test2Servlet</servlet-name>
    <url-pattern>/Test2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Test3Servlet</servlet-name>
    <servlet-class>servlets.Test3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test3Servlet</servlet-name>
    <url-pattern>/Test3</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
 <!--  <filter>
    <filter-name>TestFilter</filter-name>
    <filter-class>filters.TestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TestFilter</filter-name>
    <url-pattern>/Test1</url-pattern>
    <url-pattern>/Test2</url-pattern>
    <url-pattern>/Test3</url-pattern>
    <url-pattern>/Resultados</url-pattern>
  </filter-mapping>  -->
</web-app>