<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>U4P04-Java-DescriptorDeDespliegue</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/errores/error404.html</location>
  </error-page>
  <servlet>
    <servlet-name>EscribeFecha</servlet-name>
    <servlet-class>servlets.EscribeFecha</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InventaNumero</servlet-name>
    <servlet-class>servlets.InventaNumero</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletDeEjemploWebHttp</servlet-name>
    <servlet-class>servlets.EjemploServletHttp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletDeEjemploWebGenerico</servlet-name>
    <servlet-class>servlets.EjemploServletGenerico</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletDeEjemploWeb</servlet-name>
    <servlet-class>servlets.EjemploServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EscribeFecha</servlet-name>
    <url-pattern>/EscribeFecha</url-pattern>
    <url-pattern>/ShowDate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InventaNumero</servlet-name>
    <url-pattern>/InventaNumero</url-pattern>
    <url-pattern>/RandomNumber</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletDeEjemploWeb</servlet-name>
    <url-pattern>/EjemploServletHttp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletDeEjemploWeb</servlet-name>
    <url-pattern>/EjemploServletGenerico</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletDeEjemploWeb</servlet-name>
    <url-pattern>/EjemploServlet</url-pattern>
  </servlet-mapping>
</web-app>